.change_lang_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 136px;
  cursor: pointer;
}

.change_lang_options_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 92px;
}

.change_lang_option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

.change_lang_option_text {
  padding: 0;
  margin: 0;
  font-family: Consolas, Monaco, monospace;

  font-size: 16px;
  color: whitesmoke;
}

.change_lang_option_icon {
  height: 28px;
  width: 28px;
}

.change_lang_selected {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
