.details_card_container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.details_card_header {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 16px;
}

.details_card_subcontainer {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 16px;
}

.details_card_image {
  max-width: 600px;
  border-radius: 16px;
}

.details_card_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blueviolet;
}

.details_card_info_description {
  padding-left: 32px;
}

.details_card_info_skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
