
.change_lang_option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.change_lang_option_text {
  padding: 0;
  margin: 0;
  font-family: Consolas, Monaco, monospace;
  font-size: 16px;
}

.change_lang_option_icon {
  height: 28px;
  width: 28px;
}

@media screen and (max-width: 960px) {
  .change_lang_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
  }
}
