.curriculum_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid salmon;
}

.curriculum_container_timeline {
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid blue;
}

.curriculum_timeline {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid blue;
}

.curriculum_timeline_card {
  width: 680px;
  margin-left: -32px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid yellow;
}

.curriculum_timeline_card_content {
  width: 72%;
  left: -64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

.curriculum_timeline_card_content_title {
  margin-bottom: 16px;
}

.curriculum_timeline_card_date {
  width: 136px;
  height: 56px;
  margin-top: 16px;
  left: -80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: left;
  padding-left: 8px;
  background-color: blue;
}

.curriculum_timeline_card_date_container {
  width: 136px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding-left: 8px;
}

.curriculum_timeline_card_date_arrow {
  margin-right: -14px;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  border-left: 14px solid blue;
}


.curriculum_container_skills {
  width :320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

@media screen and (max-width: 1760px) {
  .curriculum_container_timeline {
    width: 640px;
  }

  .curriculum_timeline_card{
    width: 620px;
  }

  .curriculum_container_skills {
    width :280px;
  }
}

@media screen and (max-width: 1680px) {
  .curriculum_container_timeline {
    width: 600px;
  }

  .curriculum_timeline_card{
    width: 580px;
  }

  .curriculum_timeline_card_date {
    width: 128px;
  }

  .curriculum_container_skills {
    width :260px;
  }
}

@media screen and (max-width: 1600px) {
  .curriculum_container_timeline {
    width: 560px;
  }

  .curriculum_timeline_card{
    width: 540px;
  }

  .curriculum_timeline_card_date {
    width: 120px;
  }

  .curriculum_container_skills {
    width: 200px;
  }
}

@media screen and (max-width: 1440px) {
  .curriculum_container_timeline {
    width: 500px;
  }

  .curriculum_timeline_card{
    width: 490px;
  }

  .curriculum_timeline_card_date {
    width: 104px;
  }

  .curriculum_container_skills {
    width: 160px;
  }
}

@media screen and (max-width: 1280px) {
  .curriculum_container_timeline {
    width: 450px;
  }

  .curriculum_timeline_card{
    width: 440px;
  }

  .curriculum_timeline_card_date {
    width: 96px;
  }

  .curriculum_container_skills {
    width: 170px;
  }
}

@media screen and (max-width: 1120px) {
  .curriculum_container_timeline {
    width: 425px;
  }

  .curriculum_timeline {
    margin-left: 16px;
  }

  .curriculum_timeline_card{
    width: 410px;
    margin-left: -16px;
  }

  .curriculum_timeline_card_date {
    width: 88px;
  }

  .curriculum_container_skills {
    width: 165px;
  }
}

@media screen and (max-width: 960px) {
  .curriculum_container_timeline {
    width: 380px;
  }

  .curriculum_timeline_card{
    width: 370px;
    margin-left: -16px;
  }

  .curriculum_timeline_card_content_title {
    margin-bottom: 8px;
  }

  .curriculum_timeline_card_date {
    width: 80px;
    height: 48px;
  }

  .curriculum_timeline_card_date_arrow {
    margin-right: -8px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 8px solid blue;
  }

  .curriculum_container_skills {
    width: 160px;
  }
}

@media screen and (max-width: 864px) {
  .curriculum_container_timeline {
    width: 365px;
  }

  .curriculum_timeline_card{
    width: 360px;
  }

  .curriculum_timeline_card_content {
    width: 68%;
  }

  .curriculum_container_skills {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .curriculum_container_timeline {
    width: 350px;
  }

  .curriculum_timeline_card{
    width: 350px;
  }

  .curriculum_timeline_card_date {
    width: 80px;
  }

  .curriculum_container_skills {
    width: 140px;
  }
}

@media screen and (max-width: 704px) {
  .curriculum_container_timeline {
    width: 345px;
  }

  .curriculum_timeline_card{
    width: 345px;
  }

  .curriculum_timeline_card_date {
    height: 40px;
  }

  .curriculum_timeline_card_date_arrow {
    margin-right: -6px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 6px solid blue;
  }

  .curriculum_container_skills {
    width: 135px;
  }
}

@media screen and (max-width: 640px) {
  .curriculum_container_timeline {
    width: 335px;
  }

  .curriculum_timeline_card{
    width: 335px;
  }

  .curriculum_container_skills {
    width: 130px;
  }
}

@media screen and (max-width: 560px) {
  .curriculum_container_timeline {
    width: 320px;
  }

  .curriculum_timeline_card{
    width: 320px;
  }

  .curriculum_timeline_card_content {
    width: 66%;
  }
}

@media screen and (max-width: 480px) {
  .curriculum_container_timeline {
    width: 280px;
  }

  .curriculum_timeline_card{
    width: 280px;
  }

  .curriculum_timeline_card_date {
    width: 72px;
  }

  .curriculum_timeline_card_date_arrow {
    margin-right: -2px;
  }
}
