.what_i_do_container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.what_i_do_sub_container {
  border: 1px solid steelblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

